page-home {
    .background{
        background-image: url(../../assets/imgs/52392_1478584515.jpeg)
    }
    .scroll-content{
        align-content: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    p{
        color: rgb(14, 14, 197) ;
        font-family: cursive;
        font-size: 53px;
        text-shadow: 3px 3px #ff0000;
        margin-top: 10px;
    }
    .button{
        width:90%;
        height: 20%;
        font-size: 50px;
        font-style: italic;
        text-shadow: 3px 3px #0f0202;
        margin-left: auto;
        margin-right: auto;
        border-color: white;
        background-color: lightslategrey;

      
        
        
    }

}
